<h1>Welcome to Scrabble Master</h1>
<form action="/title">
  <div class="form-group">
     <label for="title">Would you like to calculate your score?
</label>
     <input id="title" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
